@import "reset";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700';

$background-nav: rgba(0,0,0,0.1);
$color-font-nav: rgba(255,255,255,0.85);
$color-font-header: rgb(255,255,255);
$color-font-gray: rgb(187,187,187);
$color-font-hr: rgb(226,226,226);
$color-background-features: rgb(242,242,242);
$color-green: rgb(126,188,141);




body{
	font-family: "Roboto";
	strong{ 
		font-weight: 700;
	}
	a{
		color: $color-green;
	}
	header{ 
		background: url("../img/header.jpg");
		width: 100%;
		height: 520px;
		background-position-y: -200px; 
		background-size: cover;
		background-attachment: fixed;

		@media screen and (max-width:320px){
				background-position-y: 0;

			}

		nav{ 
			position: fixed;
			background: $background-nav;
			color: $color-font-nav;
			width: 100%;
			height: 70px;
			text-align: center;
			font-size: 17px;
			text-transform: uppercase;

			@media screen and (max-width:320px){
				position: static;

			}

			ul{
				.border-right{
						border-right: 1px solid rgba(255,255,255,0.15);

					}
				li{
					display: inline-block;
					padding: 25px;

					@media screen and (max-width:320px){
					width: 100%;
					padding: 10px;
					border-bottom: 1px solid $color-font-nav;
					}
					
				}
			}
		}
		div{
			padding-top: 220px;
			h1,p{
				text-align: center;
				color:$color-font-header;
				font-weight: 300;

			}
			h1{
				font-size: 80px;
				text-transform: capitalize;
				
			}
			p{
				font-size: 20px;
				padding-top:15px;

				@media screen and (max-width:320px){
					display: none;
				}

			}
		}
	}

	.backgroundgray{
		padding-top: 30px;
		background: $color-background-features;

	.features{
		
		padding: 36px 0;
    	margin: 0 auto;
    	width: 80%;
    	overflow: auto;


		div{ 
			padding-bottom:50px;

			h2{
				font-weight: 300;
				font-size: 40px;
				text-align: center;
				color:$color-font-gray;

			}
			p{
				text-align: center;
				font-size: 16px;
				padding-top: 20px;
				line-height: 25px;
				padding-bottom: 50px;
				color:$color-font-gray;



			}
			hr{
				border: 1px solid $color-font-hr;
			}

		
		}
		article{
			width: 33%;
			float: left;
			text-align: center;
			padding: 10px;
			box-sizing:border-box;
			color:$color-font-gray;

			@media screen and (max-width:320px){
					width: 100%;
					box-sizing:none;

				}


			i{
				font-size: 50px;

				@media screen and (max-width:320px){
					font-size: 70px;
				}
			}
			h4, p,a{
				padding: 10px;

			}
			h4{
				font-size: 20px;
				margin-top: 18px;


			}
			p,a{
				font-size: 15px;
				line-height: 25px;
			}
			p{
				margin-top: 10px;
				margin-bottom: 25px;

				@media screen and (max-width:320px){
					display: none;
					margin-bottom: 0;
					margin-top: 0;

				}

			}
			a{
				padding: 12px 30px;
				border-radius: 5px;
				color: white;
				background: $color-green;
				text-decoration: none;
				font-weight: 300;

				
			}
		}
	}
	}
	.cards{
		clear: both;
		margin: 4% 9%;
		width: 100%;
		
		ul{
			

			li{
			margin: 6px 15px;
			display: inline-block;
			width: 39%;
			box-sizing: border-box;

				img{
				width: 100%;
				}
				h3{
				font-weight: 300;
				font-size: 30px;
				text-align: center;
				color:$color-font-gray;
				line-height: 100px;
				text-align: center; 
				}
				p{
				font-size: 15px;
				line-height: 25px;
				color:$color-font-gray;
				text-align: center;
				padding-bottom: 10px; 
				}


			}


		}
		
	}
	.quote{
		background: url("../img/header.jpg");
		width: 100%;
		background-position-y: 0px; 
		background-size: cover;
		background-attachment: fixed;
		height: 250px;
		blockquote{
			width: 60%;
			margin: 0 auto;
			padding-top: 90px;
			
			h5{

				color: white;
				font-size: 20px;
				font-weight: 300;
				font-style: italic;
				text-align: center;
				line-height: 30px;


			}
		}
		

	}
	footer{
		width: 100%;
		height: 230px;
		background: black;
		padding-top: 60px;
		h2{
			font-weight: 300;
				font-size: 40px;
				text-align: center;
				color: white;
		}

		p{
			font-weight: 300;
				font-size: 19px;
				text-align: center;
				color:$color-font-gray;
				line-height: 50px;
				text-align: center; 
		}

		ul{

			text-align: center;
			margin: 15px;

			li{
				display: inline-block;
				font-size: 35px;
				padding: 15px;
				a{
				text-decoration: none;
				color:$color-font-gray;
				transition: 0.6s; 
				
				&:hover{
					color: white;
					font-size:36px;

				}
				}

			}
		}
	}


}